/*-----------------------------------------------HEADER-----------------------------------------------*/
body{
    background-color: #FFEEDE;
}

body>header>div:nth-of-type(1)>svg {
    height: 20vw;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}

body>header>div:nth-of-type(1)>div:nth-of-type(1)>svg {
    height: 10vw;
    margin-top: 0.7vw;
    margin-left: 53vw;
}

body>header>div:nth-of-type(1)>div:nth-of-type(1) {
    width: 65vw;
    height: 12.5vw;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 3.5vw;
    margin-right: 1vw;
}

body>header>div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}

body>header>div:nth-of-type(2) {
    display: flex;
    justify-content: space-around
}

body>header>div:nth-of-type(2)>div {
    border: 3px solid black;
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
}

body>header>div:nth-of-type(3) {
    display: flex;
    justify-content: space-around
}

body>header>div:nth-of-type(4) {
    width: 15vw;
}

/*-----------------------------------------------CONTENT-----------------------------------------------*/


/* CARROUSEL*/
section:first-of-type {
    padding-top: 15vh;
}

/* Flèche de gauche */
section:first-of-type>div>svg {
    width: 6vw;
}

section:first-of-type>div>svg:first-of-type {
    transform: rotate(180deg);
}

/* Flèches */
section:first-of-type>div>svg:hover {
    cursor: pointer;
}

/* Flèches de droite */
section:first-of-type>div>svg:nth-of-type(2) {
    position: absolute;
    left: 95vw;
}

/* Images + Flèches */
section:first-of-type>div {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Emplcement images */
section:first-of-type>div>div {
    position: absolute;
    left: 45vw;
}

/* Images */
section:first-of-type>div>div>img {
    position: absolute;
    width: 350px;
    top: -10vh;
    left: -36vw;
}

/* Titre Article */
section:first-of-type>article>h2 {
    font-weight: lighter;
    font-size: 2em;
    margin-left: 10vw;
}

/* Emplacement texte*/
section:first-of-type>article>div {
    background-color: rgba(157, 154, 154, 0.7);
    padding: 5vw 10vw;
}

/* Texte article */
section:first-of-type>article>div>p {
    color: whitesmoke;
}

/* LES MENUS */
section:nth-of-type(2){
    margin-top: 5vh;
}

section:nth-of-type(2)>div{
    margin-top: 2vh;
}

section:nth-of-type(2)>div>img,
section:nth-of-type(2)>div>p,
section:nth-of-type(2)>div>h3{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section:nth-of-type(2)>div>p:first-of-type,
section:nth-of-type(2)>div>p:nth-of-type(2){
    display: none;
}

section:nth-of-type(2)>div>h3{
    font-size: xx-large;
}


/* Bouton ajout de menu de l'administrateur */
body>header>div:nth-of-type(4)>svg{
    position: relative;
    bottom: 37vw;
    left: 18vw;
}



/* -----------------------------------------Style Etoiles------------------------------------------------------------------------ */

.rating {
    display: flex;
    align-items: center;
  }
  
  .rating .stars {
    display: block;
    margin-left: auto;
    margin-right: auto;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    display: flex;
  }
  
  .rating .stars > span {
    display: inline-block;
    cursor: pointer;
    color: grey;
    margin-right: 5px;
  }
  
  .rating .stars > span:before {
    content: '\2605';
    color: grey;
    opacity: 1;
    transition: color 0.2s ease;
    font-size: 30px;
  }
  
  .rating .stars > span:hover:before,
  .rating .stars > span:hover ~ span:before,
  .rating input[type="range"]:focus ~ .stars > span:before {
    color: #ffcb51;
  }
  
  .rating .stars > span.selected:before {
    color: #ffcb51;
  }
  
  .rating .selected-text {
    margin-left: 5px;
    font-size: 16px;
  }
  
  .rating input[type="range"] {
    display: none;
  }
  