body>header>div:nth-of-type(1)>svg {
    height: 15vw;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 2vw;
}

body>main>h1 {
    text-align: center;
}

body>main>form {
    margin-left: 2vw;
}

.hr-separator {
    border: 0;
    border-top: 1px solid black;
    margin-top: 2vw;
    margin-left: -2vw;
}

body>main>form>textarea{
    display: block;
    width: 98%;
    height: 200px;
}

body>main>form>button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    width: 85vw;
    height: 12vw;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    margin-top: 5vw;
}