body{
    background-color: #FFEEDE;
}

body>header>div:nth-of-type(1)>svg {
    position: relative;
    height: 15vw;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 2vw;
    z-index: 2;
}

body>main>section,
body>main>form,
body>main>input{
    position: relative;
    top: -17vw;
}

body>main>section>img{
    width: 100%;
    height: auto;
    z-index: 1;
}

body>main>section>h1 {
    text-align: center;
}

.hr-separator {
    border: 0; 
    border-top: 1px solid black; 
    margin-top: 2vw;
    margin-left: -2vw;
}

/* body>main>input:last-of-type {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    width: 85vw;
    height: 12vw;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    margin-top: 5vw;
} */

body>main>section>p:last-of-type{
    font-size: xx-large;
}

body>main>form{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body>main>form>input[type="checkbox"] {
    text-align: center;
    vertical-align: middle;
  }
  