body {
    background-color: #FFEEDE;
}

h1 {
    font-size: 8vh;
    text-align: center;
}

body>header>div:nth-of-type(1)>svg {
    position: relative;
    height: 15vw;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 2vw;
    z-index: 2;
}

body>main>img{
    width: 100%;
    height: auto;
    z-index: 1;
}

.effect-div {
    animation: contour_div .5s 1 linear;
}

#carte {
    width: 100vw;
    height: 50vw;
    z-index: 1;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    width: 85vw;
    height: 12vw;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    margin-top: 5vw;
}


main>button {
    position: sticky;
    bottom: 6.5vh;
    background-color: lightgreen;
    z-index: 5;
}

main>section:nth-of-type(2)>form>input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    width: 90%;
}

main>section:nth-of-type(2)>button:nth-of-type(2),
main>section:nth-of-type(2)>button:nth-of-type(3) {
    width: 30vw;
    height: 5vw;
    border: 2px solid black;
    border-radius: 35px;
    text-align: center;
    font-size: 3vw;
    margin: auto;
    margin-top: 2vw;
}

.hr-separator {
    border: 0;
    border-top: 1px solid black;
    margin-top: 2vw;
    margin-left: -2vw;
}

section:nth-of-type(3) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

section:nth-of-type(3)>p:first-of-type {
    grid-column: 1 / 2;
    grid-row: 1;
}

section:nth-of-type(3)>p:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1;
}

section:nth-of-type(3)>p:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

section:nth-of-type(3)>p:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

section:nth-of-type(3)>p:nth-of-type(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
section:nth-of-type(3)>p:nth-of-type(6) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

section:nth-of-type(3)>svg{
    width: auto;
    height: 5vh;
}

section:nth-of-type(3)>svg:first-of-type {
    margin-top:4vh;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
section:nth-of-type(3)>svg:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
section:nth-of-type(3)>svg:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}