body>header>div:nth-of-type(1)>svg{
    height: 15vw;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 2vw;
}

body>main>h1{
    text-align: center;
}

body>main>form{
    margin-left: 2vw;
}
.hr-separator {
    /* width: 100%;  */
    border: 0; 
    border-top: 3px solid black; 
    margin-top: 2vw;
    margin-left: -2vw;
}