body>header>div:nth-of-type(1)>svg{
    height: 15vw;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 2vw;
}

body>main>h1{
    text-align: center;
}

body>main>div:nth-of-type(1){
    background-color: lightgray;
    width: 85vw;
    height: 12vw;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    margin-top: 5vw;
}

body>main>div:nth-of-type(1)>p{
    margin-top: 2vw;
}

body>main>div:nth-of-type(2){
    background-color: lightgray;
    width: 85vw;
    height: 12vw;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    margin-top: 5vw;
}

body>main>div:nth-of-type(2)>p{
    margin-top: 2vw;
}

body>main>div:nth-of-type(3){
    background-color: lightgray;
    width: 85vw;
    height: 12vw;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    margin-top: 5vw;
}

body>main>div:nth-of-type(3)>p{
    margin-top: 2vw;
}

body>main>div:nth-of-type(4){
    display: flex;
}
body>main>div:nth-of-type(4)>div{
    background-color: lightgray;
    width: 35vw;
    height: 15vw;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    margin-top: 5vw;
}

body>main>div:nth-of-type(4)>div:nth-of-type(1)>p{
    margin-top: 3vw;
}

body>main>div:nth-of-type(5){
    background-color: lightgray;
    width: 65vw;
    height: 12vw;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    margin-top: 5vw;
}

body>main>div:nth-of-type(5)>p{
    margin-top: 2vw;
}