body>header>div:nth-of-type(1)>svg{
    height: 15vw;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 2vw;
}

body>main>h1{
    text-align: center;
}

body>main>div:nth-of-type(1){
    border: 3px solid black;
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    margin-left: 5vw;
    margin-top: 2vw;
}

body>main>div:nth-of-type(1)>div{
    border: 3px solid black;
    background-color: lightgray;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    margin-left: 22vw;
    margin-top: 13vw;
}

body>main>div:nth-of-type(1)>div>svg{
    height: 6vw;
    margin-top: 1vw;
    margin-left: 1.5vw;
}

.hr-separator {
    width: 100%; 
    border: 0; 
    border-top: 3px solid black; 
    margin-top: 2vw;
}

/* body>main>form>label>p{
    margin-left: 3vw;
    font-size: 5vw;
    margin-top: 1vw;
} */
/* body>main>form>div:nth-of-type(2), body>main>form>div:nth-of-type(3), body>main>form>div:nth-of-type(4), body>main>form>div:nth-of-type(5), body>main>form>div:nth-of-type(6){
    background-color: lightgray;
    width: 95%;
    height: 12vw;
    border: 3px solid black;
    text-align: left;
    font-size: 6vw;
    margin: auto;
} */

/* body>main>form>div:nth-of-type(2)>svg, body>main>form>div:nth-of-type(3)>svg, body>main>form>div:nth-of-type(4)>svg, body>main>form>div:nth-of-type(5)>svg, body>main>form>div:nth-of-type(6)>svg{
    height: 9vw;
    margin-left: 84vw;
} */

/* body>main>form>div:nth-of-type(7){
    background-color: lightgray;
    width: 65vw;
    height: 12vw;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
    margin: auto;
    margin-top: 5vw;
} */

/* body>main>form>div:nth-of-type(7)>p{
    margin-top: 2vw;
} */