* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* header {
    display: flex;
    margin-bottom: 5vh;
} */


footer {
    margin-top: 5vh;
}

/*-----------------------------------ACCUEIL--------------------------------------*/

/*-----------------------------------PROFIL--------------------------------------*/